<section class="features" id="features">
    <div class="content">
      <img src="presentacion_index/dependedeti.png" alt="descripción" class="feature-image slide-in-left">
      <h3 class="nose">RECUPERA EL CONTROL DE TUS FINANZAS</h3>
      <h4 class="nose1">Todo gira en torno a ti</h4>
      
      <p class="nose2">
        Si alguna vez has intentado hacer un seguimiento de tu dinero, sabes que puede ser extremadamente frustrante sin las herramientas adecuadas. Smart Wallet te ayuda y te empodera al desglosar tus gastos de una manera simple, intuitiva y comprensible.
      </p>
  
      <p class="nose2">
        Con Smart Wallet, comenzarás rápidamente a identificar patrones clave de gastos y empezarás a ahorrar dinero de manera efectiva.
      </p>
    </div>
  </section>
