<header>
    <div class="container">
      <div class="logo">
        <!-- Puedes reemplazar el texto con una imagen de logo -->
        <img src="logos/billetera-negra.png" alt="Logo" class="logo-img">
        <span class="logo-text">Smart Wallet</span>
      </div>
      
      <nav class="main-nav">
        <ul>
          <li><a href="#features">Características</a></li>
          <li><a href="#reviews">Reviews</a></li>
          <li><a href="#" class="get-started" (click)="onButtonClick(); $event.preventDefault()">Pruébalo</a></li>
        </ul>
      </nav>
    </div>
  </header>
