.header-container {
  background-color: #82c7a5;
  width: 50%;
  padding: 1rem 0;
  position: fixed;
  top: 0;
  left: 0;          
  z-index: 1000;
  margin: 0;        
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;  
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 6rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;     
  margin-left: 0;  
  padding-left: 0; 
}

.logo-img {
  height: 32px;
  width: auto;
  margin-left: 0;  
}
  
.logo-text {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 1.8rem;
    font-weight: 600;
}
  
.hero-content {
  background: linear-gradient(to bottom, #82c7a5, #3f604f);
  width: 50%;
  height: calc(100vh - 4rem); /* Usamos height fijo en lugar de min-height */
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; 
  
}

.hero-text {
  color: rgba(255, 255, 255, 0.95);
  padding: 2rem;
  max-width: 600px;
  text-align: center;
  /* Ajustamos el padding para dar más espacio */
  padding-bottom: 4rem;
}

.hero-text h1 {
  text-align: center;
  font-family: 'Source Serif Pro', serif;
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-style: italic;
}

.hero-text h2 {
  font-family: 'Source Serif Pro', serif;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: -8rem;
  font-style: italic;
}

.hero-description {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 2rem;
  display: inline;
}

.hero-link {
  color: white;
  text-decoration: underline;
  font-size: 1.1rem;
}
.hero-content .pc-login {
  width: 100%; 
  max-width: 500px; 
  height: auto; 
  margin-bottom: -7rem;
}
.description-container {
  display: inline-flex; 
  align-items: center;
  gap: 0.5rem;
}

.description-container i {
  font-size: 1.2rem;
  color: #FFD700; 
  transform: translateY(-18px); 
}