<div class="header-container">
  <div class="container">
    <div class="logo">
      
      <img src="logos/billetera-negra.png" alt="Logo" class="logo-img">
      <span class="logo-text">Smart Wallet</span>
    </div>
  </div>
</div>
<div class="hero-content">
  <div class="hero-text">
    <h1>Tus finanzas</h1>
    <h2>en un solo lugar</h2>
    <img src="login/pc-login.png" alt="pc-login" class="pc-login">
    <div class="description-container">
      <i class="fas fa-circle-dollar-to-slot"></i>
      <p class="hero-description">
      La manera más inteligente de administrar tu dinero.
    </p>
    </div>
    <a href="#" class="hero-link">Aprende más sobre cómo funciona Smart Wallet</a>
  </div>


</div>